<div class="container container-md">
    <ul class="list-inline list-unstyled">
    <li class="list-inline-item"><a href="#">#</a></li>
    <li class="list-inline-item"><a href="#">#</a></li>
    </ul>
</div>

<div class="container container-md align-items-right" >
    <h1 class="text-center" id="titre">Top collègues</h1>
    <div class="float-end p-2">
        <button type="button" class="btn rounded-0 btn-outline-dark pull-right btn-sm">#</button>
    </div>
    <div>
      <app-collegue></app-collegue>
    </div>
</div>
